# VENV
.venv/
venv/
env/
.env/

# Practice 
playground.py
scratchpad.py
temp_*.py

# Another Projects
AutoClicker/
autoclicker/

# Sistem and VSC
.vscode/
__pycache__/
*.pyc
.DS_Store
Thumbs.db

# Pipenv
.pipenv/

